// import the icons and fonts
@import "materialize-design-icons";
@import "roboto";

// import variable and color definitions needed by material-design-lite.
@import "overrides";
@import "app-colors";
@import "app-variables";

// import the styles from material-design-lite
@import "material-design-lite";
@import "material-design-lite-grid";

// import our extensions
@import "mdl-ext";
@import "behaviors/behaviors";


.buttons-container {
  display: flex;
  flex-direction: row;

  .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;

    margin: 16px;

    .mdl-button {
      margin-bottom: 8px;
    }
  }
}
