.mdl-grid-demo {
  .mdl-grid {
    .mdl-cell {
      background-color: #BDBDBD;
      padding: 16px;
      color: #FFFFFF;
    }
  }
}

.mdl-card-demo {
  padding: 16px;

  .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('https://getmdl.io/assets/demos/welcome_card.jpg') center / cover;
  }

  .mdl-card__menu {
    color: #fff;
  }
}