{{#mdl-list-item-primary-content}}
  <span>{{title}}</span>

  {{#if subtitle}}
    {{#mdl-list-item-sub-title}}{{subtitle}}{{/mdl-list-item-sub-title}}
  {{/if}}
{{/mdl-list-item-primary-content}}

{{#if actionIcon}}
  {{#mdl-list-item-secondary-action}}
    {{mdl-icon actionIcon}}
  {{/mdl-list-item-secondary-action}}
{{/if}}
