{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Span"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <div style="padding: 16px">
      {{#mdl-div tooltip="This is a tooltip" tooltipPosition="bottom"}}This is a div with a tooltip.{{/mdl-div}}
    </div>
  {{/mdl-layout-content}}
{{/mdl-layout}}
