{{#mdl-layout fixedHeader=true fixedTabs=true}}
  {{#mdl-layout-header}}
    {{#mdl-layout-header-row}}
      {{mdl-layout-spacer}}

      {{#mdl-navigation}}
        {{#mdl-navigation-link "layout.tabs"}}Tabs{{/mdl-navigation-link}}
        {{#mdl-navigation-link "layout.toolbar"}}Toolbar{{/mdl-navigation-link}}
      {{/mdl-navigation}}
    {{/mdl-layout-header-row}}
  {{/mdl-layout-header}}

  {{#mdl-layout-drawer}}
    {{#mdl-layout-title}}Title{{/mdl-layout-title}}
  {{/mdl-layout-drawer}}

  {{#mdl-layout-content}}
    <div style="padding: 16px">
      {{#mdl-div layoutFor="largeScreenOnly" tooltip="This is a tooltip" tooltipPosition="bottom"}}<span style="color: red">This div only appears on large screens</span>{{/mdl-div}}

      {{#mdl-div layoutFor="smallScreenOnly" tooltip="This is a tooltip" tooltipPosition="bottom"}}<span style="color: green">This div only appears on small screens</span>{{/mdl-div}}
    </div>
  {{/mdl-layout-content}}
{{/mdl-layout}}
