<div style="padding: 16px">
  {{#mdl-badge value=4}}Number{{/mdl-badge}} <br />

  {{#mdl-badge value=10 background=false}}Number{{/mdl-badge}} <br />

  {{#mdl-link-badge "badges" value=10}}This is a link badge{{/mdl-link-badge}} <br />

  {{mdl-icon-badge icon="account_box" value=2}}
</div>
