<div style="padding: 16px">
  <p>{{#mdl-button}}Save{{/mdl-button}}</p>

  <p>{{#mdl-button type="flat" colored=true accent=true}}Save{{/mdl-button}}</p>

  <p>{{#mdl-button type="fab" colored=true}}{{mdl-icon icon="add"}}{{/mdl-button}}</p>

  <p>{{#mdl-button type="mini-fab" colored=true}}{{mdl-icon icon="add"}}{{/mdl-button}}</p>

  <p>{{#mdl-button type="icon" colored=true}}?{{/mdl-button}}</p>
</div>
