<div class="mdl-card-demo">
  {{#mdl-card shadow=2}}
    {{#mdl-card-title style="background; url(https://getmdl.io/assets/demos/welcome_card.jpg)"}}
      {{#mdl-card-title-text}}Welcome{{/mdl-card-title-text}}
    {{/mdl-card-title}}

    {{#mdl-card-supporting-text}}
      Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      Mauris sagittis pellentesque lacus eleifend lacinia...
    {{/mdl-card-supporting-text}}

    {{#mdl-card-actions border=true}}
      {{#mdl-link-button "cards" colored=true rippleEffect=true}}Get Started{{/mdl-link-button}}
    {{/mdl-card-actions}}

    {{#mdl-card-menu}}
      {{#mdl-button type="icon" rippleEffect=true}}{{mdl-icon icon="share"}}{{/mdl-button}}
    {{/mdl-card-menu}}
  {{/mdl-card}}
</div>
