<!-- Simple header with fixed tabs. -->
{{#mdl-layout fixedHeader=true fixedTabs=true}}
  {{#mdl-layout-header}}
    {{#mdl-layout-header-row}}
      {{#mdl-layout-title}}Title{{/mdl-layout-title}}
    {{/mdl-layout-header-row}}
  {{/mdl-layout-header}}

  {{#mdl-layout-drawer}}
    {{#mdl-layout-title}}Title{{/mdl-layout-title}}
  {{/mdl-layout-drawer}}

  {{#mdl-layout-content}}
    <div class="mdl-grid-demo">
      {{#mdl-grid}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
        {{#mdl-cell columns=1}}1{{/mdl-cell}}
      {{/mdl-grid}}

      {{#mdl-grid}}
        {{#mdl-cell columns=4}}4{{/mdl-cell}}
        {{#mdl-cell columns=4}}4{{/mdl-cell}}
        {{#mdl-cell columns=4}}4{{/mdl-cell}}
      {{/mdl-grid}}

      {{#mdl-grid}}
        {{#mdl-cell columns=6}}6{{/mdl-cell}}
        {{#mdl-cell columns=4}}4{{/mdl-cell}}
        {{#mdl-cell columns=2}}2{{/mdl-cell}}
      {{/mdl-grid}}

      {{#mdl-grid}}
        {{#mdl-cell columns=6 tabletColumns=8}}6 (8 tablet){{/mdl-cell}}
        {{#mdl-cell columns=4 tabletColumns=6}}4 (6 tablet){{/mdl-cell}}
        {{#mdl-cell columns=2 phoneColumns=4}}2 (4 phone){{/mdl-cell}}
      {{/mdl-grid}}
    </div>
  {{/mdl-layout-content}}
{{/mdl-layout}}
