{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Single Choice" navigateUpTo="index"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <div style="padding: 32px">
      <form>
        {{mdl-single-choice name="finished" options=options value=value}}
      </form>

      <hr />

      <p>The selected value: <b>{{value}}</b></p>
    </div>
  {{/mdl-layout-content}}
{{/mdl-layout}}