{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{mdl-toolbar title="Sliders"}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <p style="width:300px">
      {{mdl-slider min=0 max=10 value=10}}
    </p>

    <p style="width:300px">
      {{mdl-slider min=0 max=10 value=10 disabled=true}}
    </p>
  {{/mdl-layout-content}}
{{/mdl-layout}}