{{#mdl-layout fixedHeader=true}}
  {{#mdl-layout-header}}
    {{#mdl-toolbar navigateUpTo="layout"}}
      {{mdl-textfield label="Right-aligned expandable text field"
                      value=search
                      floatingLabel=true
                      alignRight=true
                      expandable=true
                      autocomplete="off"
                      placeholder="Name, pastor, city, etc."
                      expandableIcon="search"}}

    {{/mdl-toolbar}}
  {{/mdl-layout-header}}

  {{#mdl-layout-content}}
    <div style="padding: 16px; position: relative">
      {{#mdl-form action="#" style="padding: 16px"}}

        {{mdl-textfield label="Text..."
                        required=true
                        fullWidth=true
                        customError=customError
                        placeholder="Name goes here"
                        errorMessage=errorMessage
                        fullWidth=true
                        floatingLabel=true
                        tooltip="Text field"}}

        {{#mdl-button type="raised" accent=true click=(action (mut errorMessage) "This is a custom error message")}}Show Custom Error{{/mdl-button}}

      {{/mdl-form}}
    </div>
  {{/mdl-layout-content}}
{{/mdl-layout}}
