<form action="#" style="padding: 16px">
  {{mdl-textfield label="Text..."
                  required=true
                  customError=customError
                  placeholder="Name goes here"
                  floatingLabel=true}}

  {{mdl-textfield label="Text..." required=true floatingLabel=true}}

  {{mdl-textarea rows=5 label="Notes" floatingLabel=true required=true}}
</form>
